In [9]:
import os
import duckdb
BASE_DIR = os.path.abspath("..")  # project root
MATCHES_PATH = os.path.join(BASE_DIR, "data/bronze/matches/*.parquet")
COMPETITIONS_PATH = os.path.join(BASE_DIR, "data/bronze/competitions/*.parquet")
EVENTS_PATH = os.path.join(BASE_DIR, "data/silver/events/*.parquet")

In [ ]:
df = duckdb.query(f'SELECT distinct competition_id, competition_name FROM "{COMPETITIONS_PATH}" ORDER BY competition_id LIMIT 50').to_df()
df

    competition_id         competition_name
0                2           Premier League
1                7                  Ligue 1
2                9            1. Bundesliga
3               11                  La Liga
4               12                  Serie A
5               16         Champions League
6               35       UEFA Europa League
7               37  FA Women's Super League
8               43           FIFA World Cup
9               44      Major League Soccer
10              49                     NWSL
11              53        UEFA Women's Euro
12              55                UEFA Euro
13              72        Women's World Cup
14              81         Liga Profesional
15              87             Copa del Rey
16             116    North American League
17             223             Copa America
18            1238      Indian Super league
19            1267   African Cup of Nations
20            1470       FIFA U20 World Cup

In [ ]:
df = duckdb.query(f"""
    SELECT "type.name", recipient, "pass.angle", "pass.length", "pass_direction"
    FROM '{EVENTS_PATH}'
    WHERE "type.name" = 'Pass'
    LIMIT 20
""").to_df()
print(df)
print(df.columns)

BinderException: Binder Error: Referenced column "pass_length_calc" not found in FROM clause!
Candidate bindings: "pass_length", "pass_angle", "pass.length", "pass.height.name", "pass.cut_back"